body {
  background-color: blanchedalmond !important;
  height: 100%;
  padding: 0;
  margin: 0;
}

/* Add this to your App.css or another CSS file */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  animation: spin 30s linear infinite;
}
